body {
    background-image: url("../images/frontface.2.jpg");
    background-position: center;
    opacity: 90%;
}
header{
    text-align: center;
    font-family: "Baskerville Old Face";
    color: whitesmoke;
}

p{
    font-size: x-large;
    font-weight: bold;
}
.maingame {
    width: 80vw;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: 300px;
    height: 500px;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.memory-card:active{
    transform: scale(0.97);
    transition: transform .2s;
}
/* Position the front and back side */
.back-face, .front-face{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.front-face {
    transform: rotateY(180deg);
}

.memory-card.flip {
    transform: rotateY(180deg);
}
